body {
    font-family: Verdana, sans-serif;
    text-align: left;
}

h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
}

h2 {
    font-family: Verdana, sans-serif;
    text-align: left;
}

p {
    font-family: Verdana, sans-serif;
    text-align: left;
}