body {
    font-family: Verdana, sans-serif;
    text-align: left;
}

h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    border: solid #CCCCCC 4px;
}

h2 {
    font-family: Verdana, sans-serif;
    text-align: left;
}

p {
    font-family: serif;
    text-align: left;
}

span {
    background: lightgray;
}

footer {
    position: fixed;
    left: 3%;
    bottom: 0;
    width: 100%;
}

#title {
    height: 225px;
    border: solid #CCCCCC 2px;
    white-space: normal;
    display: flex;
    align-items: center;
}

#subtitle {
    padding-left: 2%;
}

#linkedin_profile {
    padding-left: 2%;
}

#github_profile {
    padding-left: 2%;
}
